<p>Olá <%= @member_email %>,</p>

<p>Temos o prazer de informar que você foi incluído(a) como membro no projeto "<%= @project_name %>" em nosso aplicativo Em Obras App.</p>

<p><strong>O que isso significa?</strong></p>
<ul>
  <li>Estimativa de Valor de Construção: Informações detalhadas sobre custos previstos e orçamento do projeto.</li>
  <li>Cronograma e Acompanhamento de Prazos: Visualize e acompanhe o cronograma do projeto, incluindo marcos importantes e prazos de entrega.</li>
  <li>Acompanhar Porcentagem de Execução de Obra.</li>
  <li>Visão Geral do Projeto: Obtenha uma visão abrangente do projeto e monitore o progresso da obra em tempo real, visualizando a porcentagem de conclusão.</li>
  <li>Chat: Utilize nossa ferramenta de chat para facilitar a comunicação entre todos os membros do projeto.</li>
  <li>Documentação: Acesso a documentos importantes, plantas, e registros relevantes.</li>
  <li>Banco de Fotos: Um espaço dedicado para armazenar e compartilhar fotos relacionadas ao projeto.</li>
</ul>

<p><strong>Próximos Passos:</strong></p>
<ol>
  <li>Faça o download do aplicativo para <a href="https://play.google.com/store/apps/details?id=com.articadev.obrafacil"> Android </a> ou <a href="https://apps.apple.com/br/app/em-obras-app/id6478421907"> IOS. </a></li>
  <li>Navegue até a seção “Projetos” para ver o projeto "<%= @project_name %>" listado.</li>
  <li>Explore as várias funcionalidades disponíveis para você.</li>
</ol>

<p>Encorajamos você a participar ativamente, compartilhando suas ideias, feedbacks e atualizações, para juntos alcançarmos o sucesso desejado no projeto "<%= @project_name %>".</p>

<p>Caso tenha alguma dúvida ou precise de assistência, não hesite em entrar em contato conosco pelo e-mail articadevteam@gmail.com. Estamos aqui para te ajudar!</p>

<p>Bem-vindo(a) abordo! Estamos ansiosos para colaborar com você no projeto "<%= @project_name %>".</p>

<p>Atenciosamente,</p>
<p>Equipe Em Obras App</p>